# Dependencias de Node (esta es la más importante para no subir carpetas pesadas)
node_modules/

# Archivos de entorno o credenciales locales (por seguridad)
.env
.env.local

# Archivos temporales del sistema o editores
.DS_Store
Thumbs.db
.vscode/